<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>ClashGrotesk-Bold.otf</string>
		<string>ClashGrotesk-Extralight.otf</string>
		<string>ClashGrotesk-Light.otf</string>
		<string>ClashGrotesk-Medium.otf</string>
		<string>ClashGrotesk-Regular.otf</string>
		<string>ClashGrotesk-Semibold.otf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To help you generate more random passwords.</string>
</dict>
</plist>
